.header {
  background: url('../../assets/image/header.png') no-repeat 100% 100%;
  background-size: cover;

  svg {
    color: white;
    width: 32px;
    height: 32px;
  }

  .networkBox {
    height: 30px;
    background: #FFFFFF;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    justify-content: center;
  }


}

.mask {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
}

.siderBox {
  position: fixed !important;
  z-index: 999;
  top: 0;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 0px;
  border-bottom: 1px solid #E7FAFE;

  img {
    width: 50px;
    height: 50px;
  }

  p {
    width: 111px;
    height: 22px;
    font-size: 16px;
    font-weight: bold;
    color: #51C7D3;
    line-height: 19px;
    margin-left: 7px;
  }

}

.menuBox {
  box-sizing: border-box;
  padding: 18px 20px;

  .menuItem {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
 

    img {
      width: 22px;
      height: 22px;
      margin-right: 10px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      color: #222222;
      line-height: 16px;
    }
  }
}
.tgBox{
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;

  .menuItem {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
   margin-right: 30px;

    img {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      color: #222222;
      line-height: 16px;
    }
  }
}
.languageBox{
  background-color: #fff;
  text-align: center;
  position: absolute;
  z-index: 99;
  border-radius: 10px;
  padding: 10px;
  margin-top: 4px;
  p{

    &:hover{
      background-color: #222222;
    }
  }
}