.withdrawBox {
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  background: #F6F7FB;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 100px;
}
.withdrawBox .withdrawTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.withdrawBox .withdrawTop .withdrawTopTitle {
  font-size: 17px;
  font-weight: 500;
  color: #161D30;
}
.withdrawBox .withdrawTop .moreBox {
  display: flex;
  align-items: center;
}
.withdrawBox .withdrawTop .moreBox p {
  font-size: 13px;
  font-weight: 400;
  color: #67738D;
  line-height: 13px;
}
.withdrawBox .withdrawTop .moreBox img {
  width: 5px;
  height: 10px;
  margin-left: 8px;
}
.withdrawBox .withdrawContent {
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
.withdrawBox .withdrawContent .withdrawContentItem {
  margin-top: 15px;
  position: relative;
}
.withdrawBox .withdrawContent .withdrawContentItem p {
  font-size: 14px;
  font-family: Source Han Sans SC, Source Han Sans SC;
  font-weight: 400;
  color: #67738D;
}
.withdrawBox .withdrawContent .withdrawContentItem input {
  width: 100%;
  height: 60px;
  background: #F6F7FB;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  outline: none;
  margin-top: 15px;
  font-size: 16px;
  font-family: Source Han Sans SC, Source Han Sans SC;
  font-weight: 500;
  color: #161D30;
  padding: 0 15px;
  box-sizing: border-box;
}
.withdrawBox .withdrawContent .withdrawContentItem .withdrawContentMax {
  font-size: 14px;
  font-family: Source Han Sans SC, Source Han Sans SC;
  font-weight: 400;
  color: #5164BF;
  position: absolute;
  right: 20px;
  top: 60%;
}
.withdrawBox .withdrawContent .withdrawContentItemText {
  font-size: 13px;
  font-family: Source Han Sans SC, Source Han Sans SC;
  font-weight: 400;
  color: #67738D;
  margin-top: 10px;
}
.withdrawBox .confirmBuy {
  width: 100%;
  height: 85px;
  background: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  position: fixed;
  bottom: 0;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.withdrawBox .confirmBuy .cancelOrder {
  width: 124px;
  height: 44px;
  background: #E4E9EE;
  border-radius: 10px 10px 10px 10px;
  opacity: 1;
  font-size: 17px;
  font-weight: 400;
  color: #A9ACB2;
}
.withdrawBox .confirmBuy .sureBtn {
  width: 100%;
  height: 44px;
  background: #5164BF;
  border-radius: 10px 10px 10px 10px;
  font-size: 17px;
  font-weight: 400;
  color: #FFFFFF;
}
.withdrawBox .confirmBuy .confirmBuyBox {
  width: 50%;
}
.withdrawBox .confirmBuy .confirmBuyBox .confirmBuyBoxTitle {
  font-size: 12px;
  font-family: Source Han Sans SC, Source Han Sans SC;
  font-weight: 500;
  color: #161D30;
}
.withdrawBox .confirmBuy .confirmBuyBox p {
  font-size: 12px;
  font-weight: 400;
  color: #67738D;
}
